.eunit
.rebar
_build
deps
ebin

coverage/

erl_crash.dump
rebar3.crashdump

default.profdata
default.profraw

priv/ateles

src/ateles_client.erl
src/ateles_pb.erl
src/grpc_health_v_1_health_client.erl
src/health_pb.erl
