{erl_opts, [debug_info]}.
{deps, [{grpcbox, ".*", {git, "https://github.com/tonysun83/grpcbox", {branch, "no-logger"}}},
    {ctx, ".*", {git, "https://github.com/tsloughter/ctx", {branch, master}}}]}.

{grpc, [{protos, "proto"},
    {type, "client"},
    {gpb_opts, [{module_name_suffix, "_pb"}]}]}.

{plugins, [grpcbox_plugin]}.

{config, "./config/sys.config"}.